<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav') %>

        <!-- Content body here -->
        <main id="loginPage">
            <h2>Sign up</h2>
            <form action="/signup" method="POST">
                <%- include('../partials/formErrors') %>

                <label for="email">Email</label>
                <input 
                    name="email" 
                    type="email" 
                    id="email" 
                    value="<%= user?.email || '' %>" 
                />

                <label for="password">Password</label>
                <input 
                    name="password" 
                    type="password" 
                    id="password" 
                    value="<%= user?.password || '' %>" 
                />

                <label for="password">Renter password</label>
                <input 
                    name="repeatPassword" 
                    type="password" 
                    id="password" 
                    value="<%= user?.repeatPassword || '' %>" 
                />

                <button type="submit">Sign up</button>
            </form>
        </main>

        <%- include('../partials/footer') %>

        <!-- Scripts -->
        <%- include('../partials/script') %>
    </body>
</html>
